body {
  background-image: url("./assets/img/bg3.jpg");
  background-size: 100% 100%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}

.mobile a {
  text-decoration: none;
  color: black !important;
}
.mobile a:hover,
.mobile btn {
  color: rgb(120, 0, 201) !important;
}
